<p id="notice"><%= notice %></p>

<h1>タスク一覧</h1>

<% @tasks.each do |t| %>
  <% if t.is_display == true %>
    <p>
      <% if t.status == "draft" %>
        <%= link_to t.title, t, style: "color: #FF0000" %> <%= t.created_at.strftime("%Y年%m月%d日") %>
      <% elsif t.status == "published" %>
        <%= link_to t.title, t, style: "color: #0000FF" %> <%= t.created_at.strftime("%Y年%m月%d日") %>
      <% elsif t.status == "archieved" %>
        <%= link_to t.title, t, style: "color: #008000" %> <%= t.created_at.strftime("%Y年%m月%d日") %>
      <% end %>
    </p>
  <% end %>
<% end %>

<%= link_to '出品する', new_task_path %> <%= link_to '非表示一覧', hide_tasks_path %>
